.landing {
  width: 100%;
  // border: 1px solid red;
  flex-direction: column;
  .landing-box {
    width: 80%;
    padding: 5px 20px;
    // border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 0px;
    #carouselExampleIndicators {
      width: 100%;
      height: 500px;
      // border: 1px solid blue;
      padding: 5px;
      border: 1px solid var(--nav-color);
      border-radius: 5px;
      .carousel-inner {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        .img {
          object-fit: contain;
        }
      }
    }
    .tech {
      border: 1px solid var(--nav-color);
      border-radius: 5px;
    }
  }
  
}
